:root {
    --primary-color: #9f5c5c;
    --secondary-color: rgb(198, 213, 253);
    --text-color: hsl(165, 45%, 77%);
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: inline;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 1rem;
}

article p {
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--text-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header a,
.div-container {
    text-decoration: none;

}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 200px;
    align-items: center;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.socialmedia a {
    text-decoration: none;
}

footer nav a img {
    width: 100px;
    float: right;
    display: flex;
    gap: 50px;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    bottom: 18rem;
    left: 30px;
    opacity: 0.9;
    border-radius: 40px;
    background-color: rgb(116, 132, 126);
}

h1 {
    position: absolute;
    bottom: 10rem;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: beige;
    right: 1px;
}

.hero article img {
    float: right;
    width: 90px;
    margin: 1rem;
    height: 90px;
    display: block;
    border-radius: 20px;
}

header img {
    border-radius: 60px;
}

section h2 {
    text-align: center;
    padding: 10px;
    color: var(--primary-color);
}

.history {
    display: flex;
    align-items: center;
    gap: 20px;
}

.history img {
    width: 300px;
    height: auto;
}

figure img {
    display: inline-block;
    width: 160px;
    left: 30px;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}