:root {
    --primary-color: #9f5c5c;
    --secondary-color: rgb(205, 214, 255);
    --text-color: hsl(209, 21%, 60%);
    --heading-font: Verdana, Geneva, Tahoma, sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: var(--secondary-color);
    color:var(--text-color);
    margin: 2rem;
}
header, main,footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-color)
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
nav a {
    text-decoration: none;

}
nav ul, header img {
    display: flex;
    gap: 40px;
}

.socialmedia a{
    text-decoration: none;
}
footer nav a img {
    width: 100px;
    float: right;
    display: block;

}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.hero article {
    position: absolute;
    bottom: 18rem;
    left: 30px;
    opacity: 0.9;
    border-radius: 40px;
    background-color: rgb(74, 77, 76);
}
h1 {
    position: absolute;
    bottom: 10rem;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: beige;
    right:1px;
}

.hero article img {
    float: right;
    width: 90px;
    margin: 1rem;
    height: 90px;
    display: block;
    border-radius: 20px;
}
header img {
    border-radius: 60px;
}